@font-face{
  font-family: "Gotham";
  src: url("/fonts/GothamRegular.otf");
  font-weight: 600;
}

@font-face{
  font-family: "Gotham";
  src: url("/fonts/GothamMedium.ttf");
  font-weight: 500;
}

@font-face{
  font-family: "Gotham";
  src: url("/fonts/GothamBoldRegular.ttf");
  font-weight: 600;
}

@font-face{
  font-family: "Gotham";
  src: url("/fonts/GothamBook.ttf");
  font-weight: 400;
}