@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #e2e6ef;
  font-family: "Gotham";
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-weight: 400;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}

.left-side{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.left-side::-webkit-scrollbar{
  display: none;  /* Safari and Chrome */
}

.text-sm{
  /* padding-top: 8px; */
}

input{ 
  font-family: 'Times New Roman', Times, serif;
}
textarea{ 
  font-family: 'Times New Roman', Times, serif;
}
.pulse-cursor::after{
  content: "|";
  animation: styles_blink__2CKyC .5s infinite step-start;
}
.__react_modal_image__header{
  background-color: rgba(0, 0, 0, 0) !important;
}

@media screen and (max-width: 600px){
  .slick-slide > div{
      height:100%;
  }
}

.zoom{
transform: scale(2.0);
}

.swiper-slide {
  cursor:zoom-in;
}


/* @media screen and (-webkit-min-device-pixel-ratio:0) { 
.h-screen{
  margin-bottom: px;
}
} */
